<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parametros Compartidos</title>
</head>
<body>
    <h2>Parametros Compartidos</h2>
    <p>Lista Clasica</p>
    <ul>
        <li>1: Matias</li>
        <li>2: Mauricio</li>
        <li>3: Fernando</li>
        <li>4: Julian</li>
        <li>5: Paula</li>
        <li>6: Matilda</li>
        <li>7: Benjamin</li>
    </ul>
    <p> </p>
    <ul>
        <% for (let i = 0 ; i < usuarios.length; i++){%>
            <li>
             <a href="/parametroscompartidos/detalle/<%=usuarios[i].id %> "><%=usuarios[i].name%></a>
            </li>
            <%}%>
    </ul>
    <h2>Search</h2>
    <form action="/search" method="GET">
        <input type="text" name="search" >
        <input type="submit" value="Search" >
    </form>
 <h1>DELETE</h1>

 <ul>
    <% for (let i = 0 ; i < usuarios.length; i++){%>
        <li>
         <a href="/parametroscompartidos/detalle/<%=usuarios[i].id %> "><%=usuarios[i].name%></a>
         <form method="post" action="/delete/<%=usuarios[i].id %>?_method=DELETE">
            <button type="submit">DELETE</button>
        </form>
        </li>
        <%}%>
        <button>DELETE</button>
</ul>
</body>
</html>